.background {
  position: relative;
}

.background::before{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url("../img/renovation.jpg");
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  background-repeat: no-repeat;
  background-size: cover;

}
.background-inside {
  /* This will make it stack on top of the ::before */
  position: relative;
    height: 200px;
}
.white{
  color: white;
}

a, footer p, select{
  font-size: 80%;
}


p a {
  color: grey;
  text-decoration: none;
}
a:hover{
  text-decoration:underline;
}

div a{
  text-decoration: none;
  color:black;
}
.color-btn{
  border-radius: 0;
  background-color: #559987;
  border-color: #559987;

}
.card-block:hover{
  box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.44);
}
.img-fluid{
  height: 65%;
}

.card{
  height: 190px;
}
.card-body{
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 1%;

}
